{{#mdl-nav
  title='Fixed Drawer Example'
  fixedDrawer=true
  fixedHeader=true
  mobileTitle='Fixed Drawer'
  }}

  {{!--
  {{mdl-nav-item name='Buttons' route='buttons' inHeader=false}}
  {{mdl-nav-item name='Tabs'    route='tabs'    inDrawer=false}}
  {{mdl-nav-item name='Nav'     route='navs'}}
  --}}

  <header>
    <a href="#" {{action 'login'}}>Login</a>
    <a href="#" {{action 'logout'}}>Logout</a>
    {{#if session.isAuthenticated}}
      <!-- TODO this doesn't work at all -->
      <h3>You are currently logged as: {{session.data.authenticated.profile.email}}</h3>
      <a href="#" {{action 'logout'}}>Logout</a>
    {{/if}}
  </header>

  <div class="mdl-grid">
    <div class="mdl-cell x-mdl-cell--full">
      {{outlet}}
    </div>
  </div>
{{/mdl-nav}}
