<div class="mdl-card__title">
    <h2 class="mdl-card__title-text">
      <span>
        {{x-format-money transaction.value}}
        {{transaction.is_split}}
        {{moment-format transaction.date}}
      </span>
    </h2>
</div>

<div class="mdl-card__supporting-text">
  {{transaction.description}}
</div>

<div class="mdl-card__supporting-text">
  {{transaction.location}}
</div>
