<div class="mdl-card__title">
  <h1 class="mdl-card__title-text">
    <span>
      {{x-format-money transaction.value}}
      {{#if transaction.is_split}}
        {{mdl-icon class="is-split" icon="people"}}
      {{/if}}
    </span>
    {{date-format transaction.date}}
  </h1>
</div>

<div class="mdl-card__title">
  <h2 class="mdl-card__title-text description">
    {{transaction.description}}
  </h2>
</div>

<div class="mdl-card__supporting-text location">
  {{transaction.location}}
</div>
