<div class="mdl-card__title">
    <h2 class="mdl-card__title-text">
      <span>
        {{x-format-money transaction.value}}
        {{#if transaction.is_split}}
          {{mdl-icon icon="people"}}
        {{/if}}
      </span>
      <span class="moment-format">
        {{moment-format transaction.date}}
      </span>
    </h2>
</div>

<div class="mdl-card__supporting-text">
  {{transaction.description}}
</div>

<div class="mdl-card__supporting-text">
  {{transaction.location}}
</div>
