<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--bottom x-mdl-cell--half">
    {{transaction-form-value transaction=transaction}}
  </div>

  <div class="mdl-cell mdl-cell--bottom x-mdl-cell--half">
    {{mdl-textfield label='Date' value=transaction.date type='date'}}
  </div>

  <div class="mdl-cell x-mdl-cell--full">
    {{mdl-textfield label='Description' value=transaction.description}}
    {{mdl-textfield label='Location' value=transaction.location}}
    {{mdl-textarea label='Notes' value=transaction.note}}
  </div>

  <div class="x-mdl-button-bar">
    {{mdl-button action='cancel' text='Cancel'}}
    {{mdl-button action='save' text='Save' isRaised=true}}
  </div>
</div>
